:root {
  --background-color: lightgrey;
  --background-color-light: #efefef;
  --background-color-dark: grey;

  --a-link-color: #0277bd;
  --a-visited-color: #01579b;

  --warning-color: red;
  --ok-color: lightgreen;

  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;

  --heading-ratio: 1.19;

  --border-color: black;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 5px;

  --font-family: "Inter", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu,
    "Segeo UI", "Helvetica Neue", Arial, sans-serif;
  --font-color: black;
  --font-color-invert: white;
  --font-size-normal: 1rem;
  --font-size-bigger: 1.5rem;
  --font-size-small: 0.8rem;
  --font-size-smaller: 0.5rem;

  --font-size-big-dynamic: clamp(1rem, -2.3149rem + 8.8398vw, 2rem);
  --font-size-normal-dynamic: clamp(1rem, 1.2rem, 1.5rem);
  --font-size-small-dynamic: clamp(0.6rem, 0.7rem, 0.8rem);

  --color-decent-lightgrey: lightgrey;
  --color-decent-8: hsla(0, 0%, 0%, 0.8);
  --color-decent-5: hsla(0, 0%, 0%, 0.5);
}

/* Themes ##### */
html[data-theme="light"] {
  background-color: var(--background-color-light);
  color: var(--font-color);

  a:hover {
    color: #543fd7;
  }
}

html[data-theme="dark"] {
  background-color: var(--background-color-dark);
  color: var(--font-color-invert);

  a:hover {
    color: lightblue;
  }

  section .text {
    color: var(--color-decent-lightgrey);
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-decent-lightgrey);
  }
}

#dark,
#light {
  display: none;
}

/* ##### Themes */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-size: 100vw 100vh;
  height: 100%;
  color: var(--font-color);
}

header,
footer {
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  color: hsla(0, 0%, 0%, 0.5);
}
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
#brand img {
  padding-right: 10px;
  cursor: pointer;
}
#brand a {
  color: hsla(0, 0%, 0%, 0.5);
}
nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* link ##### */
a:link,
a:active,
a:visited,
label {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 1rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--a-link-color);
}

a[href^="https"] {
  padding-right: 1em;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpolygon%20fill%3D%22blue%22%20points%3D%222%2C2%205%2C2%205%2C3%203%2C3%203%2C9%209%2C9%209%2C7%2010%2C7%2010%2C10%202%2C10%22/%3E%3Cpolygon%20points%3D%226.2%2C2%2010%2C2%2010%2C5.8%208.6%2C4.4%206.5%2C6.5%205.5%2C5.5%207.6%2C3.4%22/%3E%3C/svg%3E")
    no-repeat right;
  background-size: 11px auto;
}
a[href^="mailto"] {
  padding-right: 1.2em;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22blue%22%20d%3D%22M1%2C4%20h10%20v6%20h-10z%20l10%2C6m0%2C-6%20l-10%2C6%22/%3E%3C/svg%3E")
    no-repeat right;
  background-size: 1rem auto;
}

/* ##### link */

ul li {
  padding: 5px;
  margin-left: 10px;
}
nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border: 1px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 5px;
}

footer {
  padding: 5px;
  font-size: 0.8rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vcenter {
  display: flex;
  align-items: center;
}
.line_distance {
  line-height: 1.5;
}

main {
  max-width: 100%;
  max-height: 100%;
  /* margin-top: 10px;
  margin-bottom: 10px;*/
  margin: 10px 20px 10px 20px;
}

.top_btn {
  display: flex;
  align-items: right;
  justify-content: right;
}

/* ##### Icon Spinner */
.p-icon-spin {
  -webkit-animation: p-icon-spin 2s infinite linear;
  animation: p-icon-spin 2s infinite linear;
}
@-webkit-keyframes p-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes p-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Icon Spinner ##### */

.content {
  /*
  border: 1px solid;
  border-color: var(--background-color);
*/
  max-height: 100%;
}

article,
section {
  margin: calc(1.5 * var(--universal-margin));
  border: 1px solid;
  border-color: var(--background-color);
  border-radius: 5px;

  padding: 10px;
}

.content > p,
article > p,
section > p {
  padding: 0 10px 0 12px;
}
.content > ul,
article > ul,
section > ul {
  padding: 0 10px 0 20px;
}
.content > .brief,
article > .brief,
section > .brief {
  color: var(--color-decent-5);
  padding: 0;
}
.brief::before {
  content: "» ";
  color: var(--color-decent-5);
}
section .text {
  padding: 10px;
  max-width: 80ch;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  /*  margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);*/
  font-weight: 500;
}
h1 {
  font-size: calc(
    1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) *
      var(--heading-ratio)
  );
}

h2 {
  font-size: calc(
    1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio)
  );
}

h3 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));
}

h4 {
  font-size: calc(1rem * var(--heading-ratio));
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: calc(1rem / var(--heading-ratio));
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.85em;
}
code {
  background: var(--secondary-back-color);
  border-radius: var(--universal-border-radius);
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}
kbd {
  background: var(--fore-color);
  color: var(--back-color);
  border-radius: var(--universal-border-radius);
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}
pre {
  overflow: auto;
  background: var(--secondary-back-color);
  padding: calc(1.5 * var(--universal-padding));
  margin: var(--universal-margin);
  border: 0.0625rem solid var(--secondary-border-color);
  border-left: 0.25rem solid var(--pre-color);
  border-radius: 0 var(--universal-border-radius) var(--universal-border-radius)
    0;
}

/* ##### */

.dark_mode {
  background-color: var(--background-color-dark);
  color: var(--font-color-invert);
}
